server
vendor
web-port/web-port
image-api/image-api
*.Identifier
*.wasm
*.so
*.o
wasmedge-tensorflow-lite
wasmedgec-tensorflow
image-api-go
nohup.out

image-classification/install_wasmedge.sh
image-classification/install_wasmedge_image.sh
image-classification/install_wasmedge_tensorflow.sh
image-classification/install_wasmedge_tensorflow_deps.sh